body{background-color: rgb(0, 229, 255);
font-family: Arial, Helvetica, sans-serif;}
h1{
text-align: center;
font-weight: bold;
}

h2{text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color:blue}

h3{color:darkred;
    font-family: 'Courier New', Courier, monospace;
    
;}