body{
    background-color: aquamarine;
    color: blue;
}

h1{
    font-size: 36px;
    color:red;
    text-align: center;

}

h2{
    color:navy;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}
h3{
    color:navy;

}
h4{
    color:navy;

}
h5{
    color:navy;

}
h6{
    color:navy;

}
p{
    font-size:25px;
}

#pinkparagraph{color:rgb(199, 192, 255);}
.good{font-family: 'Courier New', Courier, monospace;}

.common{
    background-color: aliceblue;
    border: 2px solid blue;
    position: absolute;
}
.left{
    top:115px;
    left:0px;
    width: 326px;
    bottom: 40px;
}

.main{
    top:115px;
    left:130px;
    right:140px;
    bottom:40px;
}

.right{
    top:115px;
    right:0px;
    width: 326px;
    bottom: 40px;

}

.footer{
    bottom:0px;
    height: 250px;
    left:15px;
    right:25px;
    position:fixed;
}

.header{
    z-index:10;
}
